# Сборщик Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Локальная база данных и загрузки (ИСПРАВЛЕНО)
data/
uploads/

# Среда разработки IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Полезный лог Spring Boot
HELP.md

# Игнорирование для других IDE
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
